.commercial {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
  background: #f8f9fc;
}

.commercial__title {
  margin-top: 0;
  margin-bottom: 35px;
  text-align: center;
}

.commercial__slider {
  z-index: 999;
}

.commercial__wrapper {
  position: relative;
}

.commercial__wrapper::after {
  content: "";
  position: absolute;
  width: 321px;
  height: 384px;
  right: 0;
  bottom: -39%;
  background-image: url("../img/D-subscription-bg@1x.png");

  @include flexible-background;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/D-subscription-bg@2x.png");
  }
}

.commercial__slider .slick-arrow {
  display: none !important;
}

.commercial__nav {
  width: 341px !important;
  margin: 0 auto 38px !important;
}

.commercial__nav .slick-track {
  width: 100% !important;
}

.commercial__content {
  display: flex !important;
  justify-content: space-between;
}

.commercial__item {
  width: 31%;
  border: 7px solid $white;
  margin-right: 40px;
  box-sizing: border-box;
  min-height: 448px;
  background: $white;
  padding-top: 22px;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }
}

.commercial__nav-item {
  position: relative;
  width: 33.3% !important;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);

  @include text-options(20px, rgba(16, 38, 84, 0.5), 30px, normal);

  &:last-child {
    text-align: right;
  }
}

.commercial__nav-text--one-month::after {
  display: none;
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 66px;
  height: 2px;
  background-color: #d10a42;
}

.commercial__nav-text--six-month::after {
  display: none;
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 86px;
  height: 2px;
  background-color: #d10a42;
}

.commercial__nav-text--twelve-month::after {
  display: none;
  content: "";
  position: absolute;
  bottom: -2px;
  right: 0;
  width: 88px;
  height: 2px;
  background-color: #d10a42;
}


.slick-active.is-active .commercial__nav-text--one-month::after,
.slick-active.is-active .commercial__nav-text--six-month::after,
.slick-active.is-active .commercial__nav-text--twelve-month::after {
  display: block;
}

.commercial__nav-item:hover {
  cursor: pointer;
}

.commercial__plan-title {
  @include text-options(26px, $blue, 29px, bold);

  margin-bottom: -5px;
}

.commercial__plan-terms {
  @include text-options(16px, $blue, 24px, normal);
}

.commercial__price-column {
  position: relative;
  margin-top: -5px;
  margin-bottom: 25px;
  text-align: center;
}

.commercial__price-plan {
  @include text-options(100px, #e8e8e8, 150px, bold);
  margin: 0;
}

.commercial__price-pseudo {
  position: absolute;
  width: 100%;
  top: 34%;

  @include vertical-position;
  margin: 0;
}

.commercial__plan-cost {
  @include text-options(60px, #103aae, 90px, bold);
  margin-right: 10px;
}

.commercial__icon-ruble {
  display: inline-block !important;
  width: 30px;
  height: 42px;
}

.commercial__plan-button {
  display: block;
  width: 206px;
  margin: 0 auto;
  border: 2px solid #1c3374;
  padding: 24px 0;
  cursor: pointer;

  @include text-options(12px, #102654, 14px, bold);
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.commercial__item:hover .commercial__plan-button {
  color: $white;
  border: none;
  background: linear-gradient(111.72deg, #ed0233 17.6%, #003eb7 95.31%);
}

.commercial__item:hover {
  border: 7px solid;
  border-image-source: linear-gradient(111.72deg, #ed0233 17.6%, #003eb7 95.31%);
  border-image-slice: 7;
}

@media (max-width: $tablet-width) {
  .commercial {
    position: relative;
    padding-top: 95px;
    padding-bottom: 95px;
  }

  .commercial__wrapper::after {
    display: none;
  }

  .commercial__title {
    margin-bottom: 30px;
  }

  .commercial__nav {
    width: 332px !important;
    margin-bottom: 45px !important;
  }

  .commercial__nav-item {
    font-size: 18px;
    line-height: 27px;
  }

  .commercial__plan-title {
    line-height: 29px;
  }

  .commercial__content {
    flex-direction: column;
    padding-right: 118px;
    padding-left: 118px;
  }

  .commercial__item {
    width: 442px;
    margin: 0 auto 38px;

    &:last-child {
      margin: 0 auto;
    }
  }

  .commercial__price-pseudo {
    top: 36%;
  }
}

@media (max-width: $mobile-width) {
  .commercial {
    padding-top: 70px;
    padding-bottom: 72px;
  }

  .commercial__nav {
    width: 290px !important;
    margin: 0 auto;
    margin-bottom: 35px !important;
  }

  .commercial__content {
    padding: 0;
  }

  .commercial__nav-item {
    font-size: 16px;
    line-height: 24px;
  }

  .commercial__title {
    margin-bottom: 20px;
  }

  .commercial__plan-title {
    font-size: 22px;
    line-height: 24px;
  }

  .commercial__plan-terms {
    font-size: 16px;
    line-height: 24px;
  }

  .commercial__price-plan {
    font-size: 80px;
    line-height: 120px;
  }

  .commercial__plan-cost {
    @include text-options(48px, #103aae, 72px, bold);
  }

  .commercial__icon-ruble {
    width: 24px;
    height: 33px;
  }

  .commercial__item {
    width: 290px;
    min-height: 384px;
    padding-top: 15px;
    margin-bottom: 35px;
  }
}
