.header {
  background-image: url("../img/D-Header-bg@1x.jpg");
  background-color: #b80027;
  padding-top: 31px;
  min-height: 658px;

  @include flexible-background;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/D-Header-bg@2x.jpg");
  }
}

@media (max-width: $tablet-width) {
  .header {
    min-height: 554px;
    padding-top: 40px;
    background-image: url("../img/T-Header-bg@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/T-Header-bg@2x.jpg");
    }
  }
}

@media (max-width: $mobile-width) {
  .header {
    min-height: 491px;
    padding-top: 18px;

    background-image: url("../img/M-Header-bg@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/M-Header-bg@2x.jpg");
    }
  }
}
