.header-promo {
  display: flex;
}

.header-promo__offer {
  position: relative;
  margin-right: 64px;
}

.header-promo__image {
  width: 43%;
  height: 556px;
  margin-top: -8px;
  background-image: url("../img/D-header-model@1x.jpg");
  background-color: #000145;

  @include flexible-background;

  background-position: top;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/D-header-model@2x.jpg");
  }
}

.header-promo__social {
  margin-right: auto;
}

.header-promo__slogan {
  position: relative;
  padding-left: 99px;
  padding-top: 75px;
  padding-bottom: 65px;
}

.header-promo__title {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.03em;
  text-align: right;
  margin-bottom: 0;

  @include text-options(49px, $white, 49px, normal);
}

.header-promo__subtitle {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.03em;
  text-align: right;
  margin-top: 5px;
  margin-bottom: 0;

  @include text-options(109px, $white, 109px, bold);
}

.header-promo__sidebar {
  width: 113px;
  position: absolute;
  top: 54%;
  left: 5%;
  text-align: right;

  @include reset-list;
  @include text-options(14px, $white, 21px, normal);
}

.header-promo__button {
  display: block;
  box-sizing: border-box;
  width: 230px;
  border: 4px solid $white;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
  margin-left: auto;
  cursor: pointer;

  @include text-options(12px, $white, 14px, bold);
  @include reset-decoration;

  &:hover {
    border-color: #b80027;
  }
}

@media (max-width: $tablet-width) {
  .header-promo__social {
    display: none;
  }

  .header-promo__image {
    width: 47%;
    height: 390px;
    margin-left: auto;
    margin-top: 18px;

    background-image: url("../img/T-header-model@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/T-header-model@2x.jpg");
    }
  }

  .header-promo__slogan {
    padding-left: 91px;
    padding-top: 45px;
    padding-bottom: 50px;
  }

  .header-promo__offer {
    margin: 0;
  }

  .header-promo__title {
    font-size: 34px;
    line-height: 34px;
  }

  .header-promo__subtitle {
    font-size: 86px;
    line-height: 86px;
    margin-top: 0;
  }

  .header-promo__button {
    width: 183px;
  }

  .header-promo__sidebar {
    top: 50%;
    left: 0;
  }
}

@media (max-width: $mobile-width) {
  .header-promo__image {
    display: none;
  }

  .header-promo__offer {
    width: 290px;
    margin: 0 auto;
  }

  .header-promo__slogan {
    padding-left: 0;
    padding-top: 45px;
    padding-bottom: 50px;
  }

  .header-promo__title {
    font-size: 28px;
    line-height: 28px;
  }

  .header-promo__subtitle {
    font-size: 78px;
    line-height: 78px;
    margin-top: 5px;
  }

  .header-promo__sidebar {
    top: 52%;
  }

  .header-promo__button {
    width: 290px;
    margin: 0 auto;
  }
}
