.logo__image {
  width: 89px;
  height: 20px;
}

.logo--nav {
  display: none;
}

@media (max-width: $tablet-width) {
  .logo__image {
    width: 82px;
    height: 17px;
  }
}

@media (max-width: $mobile-width) {
  .logo__image {
    width: 68px;
    height: 15px;
  }

  .logo--nav {
    display: block;
  }

  .logo--single {
    display: none;
  }
}
