.promotions {
  margin-top: 120px;
  margin-bottom: 120px;
}

.promotions__title {
  text-align: center;
}

.promotions__wrapper {
  display: flex;
  justify-content: space-between;
}

.promotions__main-offer {
  width: 48%;
  display: flex;
  background: #ed0233;
  min-height: 462px;
}

.promotions__list {
  width: 48%;
}

.promotions__main-wrapper {
  position: relative;
  width: 50%;
  padding-top: 33px;
  padding-left: 45px;
}

.promotions__main-heading {
  display: block;

  @include text-options(28px, $white, 44px, bold);
  margin-bottom: -25px;
}

.promotions__main-price {
  @include text-options(70px, $white, 109px, bold);
  background: none;
}

.promotions__main-text {
  @include text-options(18px, $white, 25px, normal);
  margin-top: 0;
}

.promotions__main-button {
  position: absolute;
  bottom: 0;
  margin-bottom: 45px;
  display: block;

  @include text-options(14px, $white, 16px, bold);
  @include reset-decoration;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-bottom: 2px;
  border-bottom: 1px solid $white;

  &:hover {
    color: $blue;
    border-color: $blue;
  }
}

.promotions__list-button {
  position: absolute;
  bottom: 0;
  margin-bottom: 28px;
  display: block;

  @include text-options(12px, $blue, 14px, bold);
  @include reset-decoration;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-bottom: 2px;
  border-bottom: 1px solid $blue;

  &:hover {
    color: #ed0233;
    border-color: #ed0233;
  }
}

.promotions__image-content {
  width: 50%;
  background-image: url("../img/D-action-bg@1x.jpg");
  background-color: #4f86e5;

  @include flexible-background;
  background-position: top;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/D-action-bg@2x.jpg");
  }
}

.promotions__list-item {
  position: relative;
  min-height: 211px;
  padding: 10px 25px 0 25px;
  margin-bottom: 40px;
  border: 7px solid;
  border-image-source: linear-gradient(111.72deg, #ed0233 17.6%, #003eb7 95.31%);
  border-image-slice: 7;
}

.promotions__list-item:last-child {
  margin-bottom: 0;
}

.promotions__list-title {
  @include text-options(26px, $blue, 57px, bold);
  margin: 0;
}

.promotions__list-text {
  @include text-options(16px, $blue, 22px, normal);
  margin-top: -5px;
  margin-bottom: 70px;
}

@media (max-width: $tablet-width) {
  .promotions {
    margin-top: 95px;
    margin-bottom: 100px;
  }

  .promotions__title {
    margin-bottom: 40px;
  }

  .promotions__wrapper {
    flex-direction: column;
  }

  .promotions__main-offer {
    width: 100%;
    margin-bottom: 25px;
  }

  .promotions__main-button {
    margin-bottom: 15px;
  }

  .promotions__list-button {
    margin-bottom: 25px;
  }

  .promotions__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .promotions__list-item {
    width: 47.7%;
    margin-bottom: 0;
    padding: 10px 30px 30px 30px;
  }

  .promotions__list-text {
    margin-bottom: 60px;
  }

  .promotions__main-wrapper {
    width: 41%;
    margin-bottom: 30px;
  }

  .promotions__image-content {
    width: 59%;
    background-image: url("../img/T-action-bg@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/T-action-bg@2x.jpg");
    }
  }
}

@media (max-width: $mobile-width) {
  .promotions {
    margin-top: 75px;
    margin-bottom: 70px;
  }

  .promotions__main-offer {
    flex-direction: column;
    min-height: 598px;
    margin-bottom: 30px;
  }

  .promotions__main-wrapper {
    width: 100%;
    padding-top: 35px;
    padding-left: 0;
    text-align: center;
  }

  .promotions__main-heading {
    font-size: 28px;
    line-height: 156%;
  }

  .promotions__main-text {
    margin-bottom: 30px;
    margin-top: -8px;
  }

  .promotions__main-button {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
  }

  .promotions__list-button {
    position: relative;
    display: inline-block;
    text-align: center;
    border-bottom: 1px solid $blue;
  }

  .promotions__image-content {
    margin-top: auto;
    width: 100%;
    height: 299px;
    background-image: url("../img/M-action-bg@2x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/M-action-bg@2x.jpg");
    }
  }

  .promotions__list {
    flex-direction: column;
  }

  .promotions__list-item {
    width: 100%;
    min-height: 211px;
    text-align: center;
    padding: 20px 20px 13px 20px;
    margin-bottom: 30px;
  }

  .promotions__list-text {
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 20px;
  }

  .promotions__list-item:last-child {
    margin-bottom: 0;
  }
}
