.social-header {
  @include reset-list;

  margin-left: auto;
  align-self: flex-end;
  padding-bottom: 45px;
}

.social-header__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.social-header__box:hover {
  fill: #ed0233;
}

.social-header__box:active {
  fill: #003eb7;
}
