.title {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.03em;

  @include text-options(49px, $blue, 49px, bold);
}

@media (max-width: $tablet-width) {
  .title {
    font-size: 42px;
    line-height: 42px;
  }
}

@media (max-width: $mobile-width) {
  .title {
    font-size: 32px;
    line-height: 32px;
  }
}
