@font-face {
  font-family: "Roboto Condensed";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: local("RobotoCondensed-Light"), url("../fonts/RobotoCondensed-Light.woff2") format("woff2"), url("../fonts/RobotoCondensed-Light.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local("RobotoCondensed-Regular"), url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: local("RobotoCondensed-Bold"), url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
}

@font-face {
  font-family: "Bebas Neue";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: local("BebasNeueBold"), url("../fonts/BebasNeueBold.woff2") format("woff2"), url("../fonts/BebasNeueBold") format("woff");
}

@font-face {
  font-family: "Bebas Neue";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: local("BebasNeue-Light"), url("../fonts/BebasNeue-Light.woff2") format("woff2"), url("../fonts/BebasNeue-Light") format("woff");
}

@font-face {
  font-family: "Bebas Neue";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local("BebasNeueRegular"), url("../fonts/BebasNeueRegular.woff2") format("woff2"), url("../fonts/BebasNeueRegular") format("woff");
}
