body {
  min-width: 320px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  color: $blue;
  background-color: $white;
}
