.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

.content-wrapper {
  margin: 0 auto;
  max-width: $desktop-width;
  padding-right: 103px;
  padding-left: 103px;
}

@media (max-width: $tablet-width) {
  .content-wrapper {
    max-width: $tablet-width;
    padding-right: 45px;
    padding-left: 45px;
  }
}

@media (max-width: $mobile-width) {
  .content-wrapper {
    max-width: $mobile-width;
    padding-right: 15px;
    padding-left: 15px;
  }
}
